{% extends "base.html" %}

{% block title %}Nettverk KRS | Om Oss {% endblock %}

{% block body %}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Hvem er vi</h3>
        <p> Nettverk Kristiansand ble utarbeidet av Oddvar Tengesdal i
        samarbeid med Kjetil Andre Liknes, og Yngve Olsen Ranestad.
        </p>
    </div>
    <div class="col-md-4">
        <h3> V&aring;re m&aring;l </h3>
        <p> Nettverk Kristiansand har som m&aring;lsettning &aring; sette fokus p&aring;
        nettverksbygging, og mingling i Kristiansand. Alle som deltar p&aring; v&aring;re
        arrangementer skal kunne g&aring; hjem, og f&oslash;le de har f&aring;tt noe ut av
        kvelden.
        <br/><br/>
        Vi setter som m&aring;l &aring; ha fire arrangementer i halv&aring;ret. Dette kan v&aelig;re
        alt fra foredrag, kurs, og mingle arrangementer.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Vil du n&aring; oss?</h3>
        <p> Du kan n&aring; oss gjennom f&oslash;lgende kanaler: <br/><br/>
        Mail til <a href="mailto:post@nettverkkrs.no?Subject=Kontakt%20Oss"
            target="_top"> post@nettverkkrs.no </a><br/><br/>
        Facebook side: <a href="https://www.facebook.com/nettverkkrs">
            Nettverk Kristiansand </a><br/><br/>
        Telefon: <a href="teL:48069789"> 48069789 </a>
    </div>
</div>


{% endblock %}


