{% extends "base.html" %}

{% block title %}Nettverk KRS | Styret{% endblock %}

{% block body %}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Styrets medlemmer</h3>
    <div class="col-md-4">
        <p>
        <b>Navn: </b> Oddvar Tengesdal <br/>
        <b>Tittel: </b> Leder <br/>
        <b>Mail: </b><a href="mailto:oddvar@nettverkkrs.no" target="_top">
            oddvar@nettverkkrs.no </a><br/>
        <b>Telefon: </b> <a href="tel:48069789"> 48 06 97 89 </a> <br/>
        <b>LinkedIn: </b> <a href="http://no.linkedin.com/in/oddvartengesdal">
            oddvartengesdal  </a><br/>
        </p>
    </div>
    <div class="col-md-4">
        <p>
        <b>Navn: </b> Kjetil Andre Liknes <br/>
        <b>Tittel: </b> Nestleder <br/>
        <b>Mail: </b> <a href="mailto:kjetil@nettverkkrs.no" target="_top">
            kjetil@nettverkkrs.no </a><br/>
        <b>Telefon: </b> Tilgjengelig ved foresp&oslash;rsel <br/>
        <b>LinkedIn: </b> <a href="http://no.linkedin.com/in/kjetilliknes">
            kjetilliknes </a> <br/>
    </div>
    <div class="col-md-4">
        <p>
        <b>Navn: </b> Yngve Olsen Ranestad <br/>
        <b>Tittel: </b> &Oslash;konomi ansvarlig  <br/>
        <b>Mail: </b> <a href="mailto:yngve@nettverkkrs.no" target="_top">
            yngve@nettverkkrs.no </a><br/>
        <b>Telefon: </b> Tilgjengelig ved foresp&oslash;rsel <br/>
        <b>LinkedIn: </b> <a
            href="https://www.linkedin.com/pub/yngve-olsen-ranestad/a6/baa/529">
            yngve-olsen-ranestad </a> <br/>
    </div>
    <div class="col-md-4">
        <p>
        <b>Navn: </b> J&oslash;rgen Haraldseid Gramstad <br/>
        <b>Tittel: </b> N&aelig;ringslivsansvarlig <br/>
        <b>Mail: </b> <a href="mailto:gramstad@nettverkkrs.no">
            gramstad@nettverkkrs.no </a><br/>
        <b>Telefon: </b> Tilgjengelig ved foresp&oslash;rsel <br/>
</div>
</div>
<div class="col-md-4">
    <h3> &Oslash;nsker du &aring; bidra? </h3>
    <p> Om du har lyst til &aring; bidra til Nettverk Kristiansand, ta kontakt med
    oss!<br/>
    Vi leter forel&oslash;pig etter flere som kan ta en ansvarsrolle i
    organisasjonen!
    </p>
</div>
{% endblock %}
