{% extends "base.html" %}

{% block title %}Nettverk KRS | Hjem{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Nettverk KRS</h1>
        <p>Den sosiale m&oslash;teplassen for alle!</p>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h3>En f&oslash;rste gang!</h3>
            <p>For f&oslash;rste gang skal det arrangeres det nye konseptet Nettverk
            Kristiansand ved &Oslash;stsia i Kristiansand. Nettverk Kristiansand
            arrangeres henholdsvis av OpenSource UiA, og Nettverk Kristiansand.
            Arrangementet skal v&aelig;re med &aring; bygge broer mellom b&aring;de
            studenter og arbeidslivet. Vi &oslash;nsker ogs&aring; legge til rette for
            en uformell arena der ansatte, og ledere fra forskjellige bedrifter
            skal kunne m&oslash;tes</p>
        </div>
        <div class="col-md-4">
            <h3>Hvorfor Nettverk Kristiansand?</h3>
            <p>Vi synes det er for lite fokus p&aring; nettverksbygging i
            Kristiansand, og bestemte oss for &aring; ta tak i dette. M&aring;let er &aring;
            arrangere et arrangement der alle f&aring;r muligheten til &aring; bli kjent
            med nye mennesker, og stifte bekjentskap med de bedrifter som
            holder til i Kristiansands-omr&aring;det.

            Vi har gjennom et n&aelig;rt samarbeid med&Oslash;stsia i Kristiansand f&aring;tt
            tilgang til &aring; benytte lokalet 10. april fra kl 19:00.
            &Oslash;stsia vil
            holde baren &aring;pen slik at dere kan kj&oslash;pe snacks, og drikke. </p>

        </div>
        <div class="col-md-4">
            <h3>Diverse informasjon</h3>
            <p>Det er viktig for oss at det ikke blir en omfattende agenda
            under arrangementet, og alle som er deltar skal f&aring; god tid til &aring;
            “mingle”, og drive nettverksbygging. Det kommer mer info om
            underholdningen n&aring;r det n&aelig;mer seg.</p>
            <p>
            <br/>
            Vi har valgt &aring; sette aldersgrensen til 20 &aring;r, og 18 &aring;r ved
            fremvisning av studentbevis fra h&oslash;yere utdanning slik som fagskole,
            og universiteter. Husk &aring; medbringe studentbevis dersom du er under
            20.</p>
            <br/>
            <p>
            &Oslash;stsia er &aring;pen for alle denne kvelden, men vi &oslash;nsker gjerne at du
            melder deg p&aring; slik at vi vet cirka hvor mange som dukker
            opp.</p>
        </div>
    </div>
{% endblock %}
